body {
  background-color: black;
  color: white;
  font-family: "Press Start 2P";
  text-align:center;
  font-size: 0.75rem;
  line-height: 1.5;
}

.game-img {
    width: 640px;
    height:360px;
}
.game-text {
    max-width: 640px;
    margin:0 auto;
    height: 60px;
}

.game-choices {
    max-width: 675px;
    margin: 15px auto 0 auto;
}
.game-button {
    color: white;
    display: inline-block;
    text-decoration: none;
    width: 45%;
    padding: 5px;
}
.game-button:hover {
    background-color: grey;
    color: black;
}
